<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hisi.mapper.HisiChannelMapper">
  <resultMap id="BaseResultMap" type="com.hisi.model.HisiChannel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="channel_address" jdbcType="VARCHAR" property="channelAddress" />
  </resultMap>
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE
		FROM
		hisi_channel
		WHERE
		channel_id = #{channelId}
	</delete>
	<update id="updateById">
		update hisi_channel
		set channel_id = #{channelId},
		channel_address =#{channelAddress}
		where id = #{id}
	</update>

	<select id="selectByStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select * from hisi_channel where channel_status=#{i}
	</select>
	
	<select id="findChannel" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from hisi_channel where channel_id=#{channelId} or channel_address=#{channelAddress}
	</select>
	<select id="getALlChannelId" resultType="java.lang.String">
		select channel_id from
		hisi_channel
	</select>
</mapper>